//nsda_funtion section start//
        #nsda_funtion{
            background-color: #F2F2F2;
            padding-bottom: 60px;
            .funtion_heading{
                text-align: center;
                h1{
                    font-size: 25px;
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 600;
                    padding-top: 20px;
                }
            }
            .funtion_img{
                margin-bottom:0px;
                img{
                    margin-bottom: -42px;
                }
                :hover{
                    transform: scale(1.2,1.2);
                    transition: 2s;
                }
            }
          
        }
//nsda_funtion section end//